/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.color-black {
	color: black;	
}

.color-white {
	color: white;
}


.font14 {
	font-size: 120%;
}

.font11 {
	font-size: 90%;
}

.bodycolor {
	background-color: whitesmoke	
}

.padding15 {
	padding: 15px;	
}

.bcolor {
	background-color: white	
}

.navbar-inner-bgcolor {
	background-image:-webkit-linear-gradient(top, red, #D50404)
}